<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p>Goals was developed to help the world set goals and update them.  We know how hard it is to set a goal and then strive to achieve it without coming across some setbacks.  We've noticed that most people don't write down their goals or the step that are needed to achieve them.  But you are different, you are here because you want to keep track of your goals better and we are going to help you.  Feel free to signup and make as many goals and steps as you need.  Setting goals and looking at them daily will hopefully help inspire you to do what is needed.  </p>
