<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p> Goals is currently made by one developer, Jacob Flohre.  Please don't hesitate to ask questions or present ideas for the site or even give some critism. I can be contacted at anytime via email at jacobflohre@gmail.com </p> 