$semi-bold: 600;
body { 
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: $semi-bold;
  background-color: white;
  color: #a4a6a6;
 }


textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-weight: 300;
}
h1, h2, h3{
  font-weight: 400;
  line-height: 2em;
}
h1{
  font-size: 4.5em;
  display: inline-block;

  background: rgb(0,171,203);
background: -moz-linear-gradient(45deg,  rgb(0,171,203) 0%, rgb(138,192,132) 50%, rgb(182,180,108) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(0,171,203)), color-stop(50%,rgb(138,192,132)), color-stop(100%,rgb(182,180,108)));
background: -webkit-linear-gradient(45deg,  rgb(0,171,203) 0%,rgb(138,192,132) 50%,rgb(182,180,108) 100%);
background: -o-linear-gradient(45deg,  rgb(0,171,203) 0%,rgb(138,192,132) 50%,rgb(182,180,108) 100%);
background: -ms-linear-gradient(45deg,  rgb(0,171,203) 0%,rgb(138,192,132) 50%,rgb(182,180,108) 100%);
background: linear-gradient(45deg,  rgb(0,171,203) 0%,rgb(138,192,132) 50%,rgb(182,180,108) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abcb', endColorstr='#b6b46c',GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
p{
  font-weight: 300;
}
input[type="file"], input[type="image"], 
input[type="submit"], input[type="reset"], 
input[type="button"], input[type="radio"], 
input[type="checkbox"] {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-image: none;
  text-decoration: none;
  background-color: #01616f;
  color: #95dbe5;
  font-weight: 300;
    &:hover{
      color: #95dbe5;
      background-color: #01616f;
    }
}
.welcome-text{
  font-size: 3em;
  font-weight: 300;
  line-height: 1.3em;
}
.main-container{
  margin: 0 auto;
}

