<% provide(:title, 'Home') %>
<h1>LifeMap</h1>
<p>Welcome to LifeMap, an easy way to set and track goals big and small.</p>
<%= link_to "Get Started!", new_user_registration_path, :class => "btn light-text" %>
Already mapping? <%= link_to "Login", new_user_session_path %>