<% provide(:title, 'Home') %>
<h1>Welcome to Goals</h1>
<p> Welcome to goals, a place developed to help you set and achieve your own goals!  Your goals can be anything from going to certain places, achieving a certain career, attaining an amount of money of your desire, or they can be more simple day to day things like: making it to the gym, eating healthier, or give an hour a day to your kids.</p>
<p> So please take a look around and sign up! </p>