@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

body { padding-top: 60px; }
h1{
  font-size: 3em;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
    margin-left: 1em;
  }
  ul {
    float: right;
    margin-right: 2em;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
@import "bootstrap-responsive";

// do we want a custom.css.scss for this file?
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
