// do we want a custom.css.scss for this file?
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require vendor
 *= require_tree .
 */
@import 'scss/buttons.css.scss';
@import 'scss/document.css.scss';
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

.container {
  max-width: 950px;
}
@import "bootstrap-responsive";

.container {
  max-width: 1010px;
}
.span3{
  max-width: 270;  //add 30 for margin
}
.span9{
  max-width: 680px; //add 30 for margin
}
#modal-gallery{
  // margin-top: 300px;
}



